:root {
    --dto-dark: #303030;
    --dto-light: #FFF;
    --dto-secondary: #757575;
    --dto-secondary-light: #F5F5F5;
    --dto-primary: #A545EC;

    /* dark mode 
  --dto-darkest: #050505;
  --dto-darker: #1F1F1F;
  */
}

* {
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dto-light);
    color: var(--dto-dark);
}

/* utilities ---------------------------------------------> */

.container {
    width: 90%;
    max-width: 1024px;
    margin: auto;
}

.font-serif {
    font-family: serif;
}

.font-arial {
    font-family: Arial;
}

.font-courier {
    font-family: Courier;
}

/* header style ---------------------------------------------> */

header {
    padding-top: 2rem;
    background-color: var(--dto-light);
    margin-bottom: 2rem;
    position: relative;
    z-index: 9999;

    .band {
        background-color: var(--dto-light);
        height: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    & img {
        margin-right: auto;
    }

    .font_select {
        border-right: 1px solid #b1b1b1;
        height: 3rem;
        position: relative;
        display: flex;
        align-items: center;
        background-color: var(--dto-light);
        cursor: pointer;

        .font {
            line-height: 3rem;
            font-weight: bold;
            font-size: 1.2rem;
            padding: .8rem;
            width: 102px;
        }

        .fa-chevron-down {
            color: var(--dto-primary);
            margin: 0 1rem 0 0;
            transition: transform .25s ease;
        }

        .rotate90 {
            transform: rotate(90deg);
        }

        .rotate0 {
            transform: rotate(0deg);
        }

        .font_dropdown {
            position: absolute;
            width: 100%;
            height: calc(45px * 3);
            border-right: 1px dashed #b1b1b1;
            top: 3.1rem;
            right: -1px;
            border-radius: .5rem 0 0 .5rem;
            overflow: hidden;
            z-index: -1;
            transition: all .5s;

            & h4 {
                font-size: .9rem;
                height: 45px;
                line-height: 45px;
                padding-left: .75rem;
                cursor: pointer;
                background-color: var(--dto-secondary-light);
                transition: background-color 0.25s;

                &:hover {
                    background-color: var(--dto-primary);
                    color: var(--dto-light);
                }
            }
        }

        .slide_up {
            /* height: 0; */
            transform: translateY(-140px);
        }

        .slide_down {
            /* height: calc(45px * 3); */
            transform: translateY(0px);
        }
    }

    .darkmode_toggle {
        display: flex;
        align-items: center;

        .toggle {
            background-color: var(--dto-secondary);
            margin: 0 1rem;
            border-radius: 11px;
            width: 42px;
            height: 22px;
            position: relative;
        }

        .toggle::after {
            content: '';
            width: 16px;
            height: 16px;
            background-color: var(--dto-light);
            position: absolute;
            border-radius: 50%;
            left: 3px;
            top: 3px;
        }

    }
}